<mat-toolbar>
  <mat-toolbar-row>
    <div class="header">
      <img src="./assets/header-logo1.png" class="img1" />
      <img src="./assets/header-logo2.png" class="img2" />
      <span class="cap-stock-title">Capital Stock</span>
      <input matInput class="search-box" placeholder="&#xF002; e.g. customer ID, transaction ID, etc." />
      <a href="#" class="advanced-search">Advanced Search</a>
      <!--<mat-icon class="notifications" matBadge="2" *ngIf="!(router.url === '/login' || router.url === '/register')">
    circle_notifications
  </mat-icon>-->
    </div>
  </mat-toolbar-row>
</mat-toolbar>