<mat-toolbar>
  <mat-toolbar-row class="header">
    <div class="header-auto-spacer">
      <img src="./assets/header-logo1.png" class="img1" />
      <img src="./assets/header-logo2.png" class="img2" />
      <span class="cap-stock-title">Capital Stock</span>
      <input matInput class="search-box" disabled placeholder="&#xF002; e.g. customer ID, transaction ID, etc." />
      <a class="advanced-search" disabled>Advanced Search</a>
    </div>
    <a class="menu-list-item" disabled>
      Jane Doe
    </a>
    <mat-icon id="accordion-icon" disabled>
      arrow_drop_down
    </mat-icon>
    <mat-icon class="notification-icon material-icons md-36" matBadge="2"
      *ngIf="!(router.url === '/login' || router.url === '/register')" disabled>
      circle_notifications
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar>