.mat-accordion .mat-expansion-panel {
    background-color: #bcb6b0;
}
.button-spacer {
    margin-right: 10px;
}
.mat-card-actions .actionBtn {
    background-color: #3A9164;
}
.mat-card-actions .actionBtn span {
    color: #FFFFFF;
    border: 1px solid #3A9164;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.mat-card-actions .cancelBtn {
    background-color: #3A9164;
}
.mat-card-actions .cancelBtn span {
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.example-right-align {
    text-align: right;
}
.mat-form-field-appearance-outline .mat-form-field-flex .mat-select .status {
    width: 300px !important;
}
