.mat-accordion .mat-expansion-panel {
    background-color: #bcb6b0;
}
.button-spacer {
    margin-right: 10px;
}
.mat-card-actions .actionBtn {
    background-color: #BCB6B0;
}
.mat-card-actions .actionBtn span {
    color: #F2F0EF;
}
.mat-card-actions .cancelBtn {
    background-color: #F2F0EF;
}
.mat-card-actions .cancelBtn span {
    color: #BCB6B0;
}
.example-right-align {
    text-align: right;
}
