<div class="footer">
    <div class="logo_addresses">
        <div class="item"><a href="/"><img src="./assets/footer-logo.png" class="img3" /></a></div>
        <div class="item">
            <p><strong class="address-title">HEADQUARTERS</strong><br /><br />
                909 Locust Street<br /><br />
                Des Moines, IA 50309<br /><br />
                Phone: 800.544.3452<br /><br />
                Fax: 515.699.1293<br /><br />
                <a class="location-details" href="https://www.fhlbdm.com/contact-us/headquarters/">Location
                    details</a>
            </p>
        </div>
        <div class="item">
            <p><strong class="address-title">WESTERN OFFICE</strong><br /><br />
                901 5th Avenue<br /><br />
                Suite 3800<br /><br />
                Seattle, WA 98164<br /><br />
                Phone: 800.544.3452<br /><br />
                <a class="location-details" href="https://www.fhlbdm.com/contact-us/western-office/">Location
                    details</a>
            </p>
        </div>
        <div class="copyright">
            <span>Copyright &copy;
                {{year}}. Federal Home Loan Bank of Des
                Moines<br /><br />
            </span>
            <span><a class="location-details" href="https://www.fhlbdm.com/terms-of-use/">Terms of Use</a> | <a
                class="location-details" href="https://www.fhlbdm.com/privacy-policy/">Privacy Policy</a> | <a
                class="location-details" href="https://www.fhlbdm.com/contact-us/">Contact Us</a> | <a
                class="location-details" href="https://www.fhlbdm.com/logins/">Logins</a></span>
        </div>
    </div>
</div>