.view-icons-holder {
    padding: 0px 20px;
}
.view-icons {
    font-size:36px;
    color:green;
    padding-right: 27px;
}
.disabled {
    pointer-events: none;
    color: grey;
    cursor: not-allowed; 
 }