.container {
    display: flex;
    flex-direction: row;
    background: #f2f0ef;
}
.sidenav {
    height: 1500px;
    left: 0px;
    top: 100px;
    background: #f2f0ef;
    display: flex;
    flex-direction: row;
}
.content {
    padding: 10px;
    border-top-left-radius: 25px;
    background: white;
    box-shadow: 18px 22px 16px 23px rgb(31 73 125 / 30%);
}
.side-menu {
    width: 100%;
}

