.mat-dialog-actions .actionBtn {
    background-color: #3A9164;
}
.mat-dialog-actions .actionBtn span {
    color: #FFFFFF;
}
.mat-dialog-actions .cancelBtn {
    background-color: #FFFFFF;
    border: 1px solid #3A9164;
    box-sizing: border-box;
}
.mat-dialog-actions .cancelBtn span {
    color: #3A9164;
}