/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
    background: none !important;
    color: #00693c !important;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.356331px;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
    padding: 0 20px !important;
}
.mat-expansion-panel-body {
    background-color: white;
}
.mat-card {
    border-radius: 6px 6px 0px 0px !important;
    border: 1px solid #bcb6b0;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 10%);
    margin: 0px 20px !important;
}
.my-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.356331px;
    color: #333333;
    padding-bottom: 25px !important;
    display: table-row;
}
.mat-expansion-panel-header-title {
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.356331px;
}
.mat-expansion-panel-header {
    border-bottom: 2px solid #ffffff;
}
mat-expansion-panel-header#mat-expansion-panel-header-4 {
    border-bottom: none;
}
.mat-expansion-panel-body {
    padding: 10px 20px 20px 10px !important;
}
.mat-form-field {
    line-height: inherit !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #ffffff;
    border-radius: 5px;
}
.mat-form-field-infix {
    padding: 0.5em 0 !important;
    border-top: 0.475em solid transparent !important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0 !important;
}
.mat-form-field-appearance-outline .mat-form-field-flex {
    width: 225px !important;
    padding: 0 0 0 0.75em !important;
}
.mat-expansion-panel {
    margin: 0px 20px !important;
}
.mat-card-actions {
    margin: 20px 0px !important;
}
.disabled-input.mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #f2f0ef;
}
.mat-badge-medium .mat-badge-content {
    width: 14px;
    height: 14px;
    line-height: 14px;
    top: 1px !important;
    font-size: 8px;
}
.disabled-input.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    background-color: #3a9164;
    border-radius: 0px 5px 5px 0px;
    border-bottom: 1px solid #3a9164;
    z-index: 0;
}
.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: none !important;
}
.disabled-input.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 0em 0 0.5em !important;
}
.disabled-input.mat-form-field-appearance-outline .mat-form-field-outline-end {
    z-index: 55;
}
.mat-datepicker-toggle {
    color: #ffffff;
}
/* default and hover color
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #3a9164;
    border-radius: 1px solid #3a9164;
}*/
/* focused color */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #3a9164 !important;
}
/* floating label color */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
    color: #3a9164 !important;
}
.mat-error {
    font-size: 12px !important;
    margin: 0 !important;
    top: 0 !important;
}
.mat-form-field-subscript-wrapper {
    margin-top: 0 !important;
}
.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0 !important;
}
.mat-list-base {
    padding-top: 15px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
a.mat-list-item.mat-focus-indicator.menu-list-item.ng-tns-c157-1.expanded {
    color: #BCB6B0 !important;
    background-color: #867870 !important;
    box-shadow: 2px 2px 4px rgb(188 182 176 / 60%);
    border-radius: 6px;
    .routeIcon {
        margin-right: 15px;
        color: #ffffff;
      }
      span.menu-name {
        color: #ffffff;
      }
}
// View profile css changes start here

.capital-stock-form-label {
    /* Body Roboto 16 Med */

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    padding-right: 10px;
    /* identical to box height */

    letter-spacing: -0.356331px;

    /* Med Grey */

    color: #999999;
}
.property-holder {
    display: flex;
    padding-bottom: 25px;
}
.view-field {
    color: #999999;
}
// View profile css changes ends here
