<div class="search-container">
    <form class="search-form" [formGroup]="searchForm" (ngSubmit)="searchMemberForm()" #resetSearchForm="ngForm"
        novalidate>
        <mat-label class="my-label">Member Number</mat-label>
        <div class="search-part">
            <mat-form-field appearance="outline">
                <mat-icon matPrefix>search</mat-icon>
                <input matInput mask="0000" placeholder="Enter member number" id="memberNumber"
                    formControlName="memberNumber">{{searchResults}}
                <mat-error *ngIf="handleError('memberNumber', 'required')">
                    Please provide a member number
                </mat-error>
                <mat-error *ngIf="handleError('memberNumber', 'minlength')">
                    Please provide a valid member number
                </mat-error>
            </mat-form-field>
            <button class="actionBtn" mat-flat-button><span>Search</span></button>
        </div>
    </form>
</div>