.search-container .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}
.actionBtn {
    margin-left: 10px;
    background-color: #3A9164;
    margin-top: 3.5px;
    height: fit-content;
}
.actionBtn .mat-button-wrapper {
    color: #F2F0EF;
}
.actionBtn span {
    color: #FFFFFF;
}
.search-form  {
    padding-right: 4px;
    padding-bottom: 8px;
}
.search-part {
    display: flex;
}